[package]
name = "tuff"
version = "0.1.0"
edition = "2021"

[lib]
name = "tuff"
path = "src/lib.rs"

[[bin]]
name = "repl"
path = "src/bin/repl.rs"

[dependencies]

[lints.clippy]
unwrap_used = "deny"
expect_used = "deny"
indexing_slicing = "deny"
panic = "deny"
todo = "deny"
unimplemented = "deny"
unreachable = "deny"
too_many_arguments = "warn"